


@import "variables";

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    background-image: url(./imagenes/fondo.jpg);
}


.contenedor{
    display: flex;
    flex-direction: column;
    width: 1200px;    
    margin: 20px auto;
   
}


@media screen and (min-width: 768px) {
    
    body{
        background-color: aqua;
    }
}

/*menu*/
ul li{
    color: #db7a2a;
    display: inline-block;
    
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    font-family: monospace; 
}

ul li a{
    color: #db7a2a;
    text-decoration: none;
    font-family: monospace;
    
}

/*index*/

.lugar{
    width: 450px;    
    height: 350px;
    border: 1px solid #db7a2a;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 40px;
}

.lugar2{
    width: 450px;    
    height: 350px;
    border: 1px solid #db7a2a;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 40px;

}

.cajita{
    width: 1000px;
    height: 400px;
    
    margin: 0 auto;
    display: flex;
    background-color: rgb(228, 203, 203);
}

.caja{
    width: 1000px;
    height: 450px;
    
    margin: 0 auto;
    display: flex;
    background-color: rgb(228, 203, 203);
}

.segundacaja{
    width: 1000px;
    height: 650px;
    
    margin: 0 auto;
    display: flex;
    background-color: rgb(228, 203, 203);
}

.titulo{
    font-family: monospace;
    font-size: 40px;
    margin-left: 40px;
    margin-top: 30px;
    align-items: center;
}

/*our coffee*/


.caja6{
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    background-color:rgb(228, 203, 203) ;
    .diario{
        display: flex;
        width: 450px;
        height: 550px;
        border: 1px solid $colorBase;
        margin-left: 500px;
        border-radius: 40px;
    }
}



.titulo{
    width: 1000px;
    height: 90px;
    background-color: rgb(228, 203, 203) ;
    margin-left: 100px;
    .clasicos{
        width: 1000px;
        height: 70px;
        margin: 0 auto;
        font-size: 30px;
        background-color: $colorBase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }  


}



.caja7{
    width: 1000px;
    height: 400px;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(228, 203, 203);
    font-family: monospace;
    font-size: 25px;
    .nombres{
        font-family: monospace;
    }

}



.caja8{
    width: 1000px;
    height: 600px;    
    margin: 0 auto;
    display: flex;
    background-color: rgb(228, 203, 203);
    .iced{
        width: 350px;    
        height: 450px;
        border: 1px solid $colorBase;
        margin-top: 100px;
        margin-left: 60px;
        border-radius: 40px;

    }
    .img2{
        width: 350px;    
        height: 450px;
        border: 1px solid $colorBase;
        margin-top: 100px;
        margin-left: 150px;
        border-radius: 40px;


    }

}



.caja9{
    width: 1000px;
    height: 300px;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 203, 203);
    .frase{
        justify-content: center;
        text-align: center;
        margin-top: 150px;
        font-family: monospace;
        font-size: 35px;

    }
}





span{
    background-color:rgb(228, 203, 203);
    &:hover{
        color:brown;
    }
}
    








/*ourbakery*/

.caja0{
    width: 1000px;
    height: 100px;
    flex-direction: row;
    margin: 0 auto;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color:rgb(228, 203, 203);
}

.caja5{
    width: 1000px;
    height: 600px;
    
    margin: 0 auto;
    display: flex;
    background-color: rgb(228, 203, 203);
}

.palabras{
    display: flex;
    font-size: 60px;
    font-family: monospace;
    margin-left: 200px;
    align-self: center;
}




.panaderia{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    background-color: #eb9b5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.caja2{
    width: 1000px;
    height: 600px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(228, 203, 203);
    font-family: monospace;
    font-size: 25px;
}

.caja3{
    width: 1000px;
    height: 500px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    background-color: rgb(228, 203, 203);
}
.foto1{
    width: 350px;    
    height: 450px;
    border: 1px solid #db7a2a;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
}

.foto2{
    width: 350px;    
    height: 450px;
    border: 1px solid #db7a2a;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 40px;

}



.foto3{
    width: 350px;    
    height: 450px;
    border: 1px solid #db7a2a;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 40px;
}

.caja1{   
    
    width: 1000px;
    height: 500px;
    column-gap: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;  
    background-color: rgb(228, 203, 203);  
    border: solid black 1px;   
    
}
.torta{
    width: 350px;    
    height: 450px;
    border: 1px solid #db7a2a;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 500px;
   
}

.especialidad{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    background-color: #eb9b5a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.otra{
    width: 1000px;
    height: 300px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 203, 203);
}

.otra .made{
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    font-family: monospace;
    font-size: 35px;
}


    






.footer{
    width: 1000px;
    height: 100px;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 203, 203);
}

.location{
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.horario{
    text-align: center;
    font-family: monospace;
    font-size: 20px;    
    margin-bottom: 20px;
}

/*visit us*/


 


.encabezado{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;    
    background-color:burlywood;

}
.subtitulo{
    font-size: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-right: 300px;
    margin-bottom: 10px;
    margin-left: 20px;        
}
.cheescake{
    width: 350px;    
    height: 450px;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 0;
    border-top: solid 3px #db7a2a;
    border-right: solid 3px #db7a2a;
    border-bottom: solid 3px #db7a2a;
    border-left: solid 3px #db7a2a;
}

 
div h3{
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;      
}
.clasicos{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-right: none;
    margin-bottom: 10px;
    margin-left: none;    
    background-color:burlywood;

}


.top{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 500px;    
    background-color:burlywood;
}
.terraza{
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-left: 70px;   
    padding: 0;
    border-top: solid 3px #db7a2a;
    border-right: solid 3px #db7a2a;
    border-bottom: solid 3px #db7a2a;
    border-left: solid 3px #db7a2a;
    width: 450px;
    height: 600px;

}



.contacto{
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-right: 500px;
    margin-bottom: 10px;
    margin-left: 500px;    
    background-color:burlywood;
}

.subtit{
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
link-menu{
    font-size: 3rem;
    text-decoration: none;
}

/*contact us*/